@import "compass/css3";

@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';

@import  url(https://fonts.googleapis.com/css?family=Montserrat);
html {
	height: 100%;
}

body {
	padding: 0 10em;
	font-family: Montserrat, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #444;
	background: #141e30;
}

h1 {
	font-weight: bold;
	letter-spacing: 2px;
	color: #FFFFFF;
}

.addexp {
	position: relative;
	background-color: #3F7898;
	font-size: 18px;
	padding: 14px 36px;
	color: #fff;
	border-radius: 3px;
	min-width: 180px;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 1px;
}

.addexp:hover {
	background-color: #5FA0C4
}


.logout {
	position: fixed;
	top:40px;
	right:100px;
	background-color: #874DB3;
	font-size: 18px;
	padding: 14px 36px;
	color: #fff;
	border-radius: 3px;
	min-width: 75px;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 1px;
}

.logout:hover {
	background-color: #A56ECF
}

.update {
	background-color: #19B49F;
	font-size: 18px;
	padding: 14px 36px;
	color: #fff;
	border-radius: 3px;
	min-width: 75px;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 1px;
}

.update:hover {
	background-color: #1DE8CC
}

.amount {
	background-color: #19A203;
	font-size: 18px;
	padding: 10px 0;
	color: #fff;
	border-radius: 3px;
	min-width: 20px;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 1px;
}

.button:hover {
	background-color: #C0C0C0
}

.button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.rwd-table {
	font-size: 20px;
	background: #34495E;
	color: #fff;
	border-radius: .4em;
	overflow: scroll;
	height: 100px;
	width: 1600px;
	padding: 10px 20px;
	text-align: center;
	
}

th, td {
	margin: .5em 1em;
}
th, td:before {
	color: #dd5;
}

.totalExp {
  position: absolute;
  right: 150px;
}

.imgDel {
   filter: invert(90%);
   height: 60px;
	width: 60px;
}


.searchVal{
  	position: fixed;
  	right:221px;
    display: inline-block;
    width: 500px;
    height: 40px;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    transition: all 0.1s ease-out; 
}

.submit{
	position: fixed;
  	right:100px;
  	width: 120px;
    height: 40px;
    padding: 10px 10px 10px 10px;
	background-color: #19B49F;
	font-size: 18px;
	color: #fff;
	border-radius: 3px;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 1px;
}

.submit:hover {
	background-color: #C0C0C0
}

.btn {
	position: relative;
  	
  	width: 200px;
    height: 50px;
  border-radius: 3px;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}




.usericn {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 30px;
	text-decoration: none;
	font-weight: bold;
	color: White;
	background-color: #B03A2E;
    -webkit-background-size: 32px 32px;
    background-size: 50px 50px;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 0px;
    position: relative;
    height: 50px;
    width: 50px;
    z-index: 0;
}

.usericn:hover {
	background-color: #EC7063
}


