@import "compass/css3";

@charset "ISO-8859-1";

//
presentational

 

styling





@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700'
	;

html {
	height: 100%;
}

body {
	padding: 0 10em;
	font-family: Montserrat, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #444;
	background: #141e30;
}

h1 {
	font-weight: bold;
	letter-spacing: 2px;
	color: #FFFFFF;
}

.addexp {
	position: relative;
	background-color: #ff9f00;
	font-size: 18px;
	padding: 14px 36px;
	color: #fff;
	border-radius: 3px;
	min-width: 180px;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 1px;
}

.logout {
	position: fixed;
	top:40px;
	right:100px;
	background-color: #ff9f00;
	font-size: 18px;
	padding: 14px 36px;
	color: #fff;
	border-radius: 3px;
	min-width: 75px;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 1px;
}

.button:hover {
	background-color: #C0C0C0
}

.button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.rwd-table {
	font-size: 20px;
	background: #34495E;
	color: #fff;
	border-radius: .4em;
	overflow: scroll;
	height: 100px;
	width: 1500px;
	padding: 15px 25px;
	text-align: center;
	tr
	{
	border-color
	:
	lighten(
	#34495E
	,
	10%
	);
}

th, td {
	margin: .5em 1em;
}
th, td:before {
	color: #dd5;
}
}

.totalExp {
  position: absolute;
  right: 150px;
}

.imgDel {
   filter: invert(90%);
}